.mypage
  .breadcrumbs
    - breadcrumb :user, @user
    = breadcrumbs separator: " &rsaquo; "
  %h2
    = current_user.name
    さんの投稿一覧

  .post_list
    - @posts.each do |post|
      = render 'canvas', { post: post }

  .favorite_list
    %h2 お気に入り一覧
    .favorite_list__canvas
      - if @favorite_list.present?
        - @favorite_list.each do |post|
          = render 'canvas', { post: post }