.post_round_btn{
  height: 165px;
  width: 165px;
  position: fixed;
  right: 15px;
  bottom: 20px;
  padding: 15px;
  text-align: center;
  &:hover {
    opacity: 0.5;
  }
  .new_link{
    color: rgb(6, 62, 88);
  }
  &__box{
    height: 100%;
    width: 100%;
    background-color: rgba(138, 184, 12, 0.8);
    border-radius: 100%;
  }

  i{
    color: rgb(6, 62, 88);
    zoom: 5.5;
  }
}
